.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#number{
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
    color: lightgray;
}
.title{
    display: flex;
    flex-direction: row;
}
.btn{
    /*
    display: flex;
    flex-direction: row;
    background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: yellow;
    margin-right: 20px;
}

#increase{
    border: 2px dashed;
    background-color: white;
    height: 40px;
}
#increase:hover{
    background-color: blue;
}
#decrease{
    border: 2px dashed;
    background-color: white;
    height: 40px;
}
#decrease:hover{
    background-color: red;
}
#reset{
    border: 2px dashed;
    background-color: white;
    height: 40px;
}
#reset:hover{
    background-color: gray;
}
